body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 1px 2px 2px black;
}

.container {
    text-align: center;
}

h1 {
    font-size: 100px;
    color: #164863;
    text-shadow: 4px 3px 2px #0bbcec;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; 
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9; 
}
